*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

a{
    color: white;
}

ul{
    list-style-type: none;
}

.left{
    padding-left: 40px;
}

.right ul{
    display: flex;
    flex-direction: row;
}

.right ul li{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}