*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --blue: #79A9F5;
}

body{
    /* background-image: url(header.jpg); */
    border-image-width: auto;
    background-color: aliceblue;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: var(--blue);
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
}

a{
    color: var(--blue);
}

ul{
    list-style-type: none;
}

.left{
    padding-left: 40px;
}

.right ul{
    display: flex;
    flex-direction: row;
}

.right ul li{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.right ul li a:hover{
    font-weight: bolder;
}

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 400vh;
    padding: 20px;  
    border-radius: 15px;
    box-shadow: 2px 2px 15px black; /*it's like three axes like: x-axis y-axis z-axis color*/  
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-left{
    margin: 20px;
}

.imageandname{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name{
    margin: auto;
}

.profilePhoto{
    margin: 20px;
}

.skills{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title::before{
    content: '';
    color: var(--blue);
    position: absolute;
    left: 48vw;
    right: 0;
    height: 5px;
    top: 390px;
    width: 50px;
    background: var(--blue);
}