@media screen and (max-width: 800px){
    .about{
        display: block;
        /* grid-template-columns: 1fr; */
        overflow: auto;
    }

    .about-left{
        display: flex;
        margin: 0px;
    }
    .about-right{
        display: flex;
        flex-direction: column;
    }

    .about-project{
        display: block;
    }

    .skills-images img{
        /* flex-direction: column; */
        margin: 0px;
    }

    .footer-box{
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .images img{
        width: 250px;
    }
}

@media screen and (max-width: 400px){
    .imageandname img{
        width: 100%;
    }

    .imageandname{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) and (max-width: 721px) {
    .images img{
        width: 200px;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px){
    .images img{
        width: 150px;
    }
}

@media screen and (max-width: 500px){
    .images img{
        width: 100px;
    }

    /* .right{
        display: none;
    } */
}

@media screen and (min-width: 200px) and (max-width: 400px){
    .password_Manager ul img{
        width: 150px;
        margin: auto;
    }

    .image img{
        width: 80%;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px){
    .password_Manager ul img{
        width: 280px;
        margin: auto;
    }

    .landingPage ul img{
        width: 200px;
    }
}

@media screen and (min-width: 800px){
    .landingPage ul{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    .landingPage ul img{
        width: 170px;
        margin-bottom: 20px;
        margin: auto;
    }

    .password_Manager ul img{
        margin: auto;
    }
}

@media screen and (min-width: 200px) and (max-width: 700px){

    .skills-images{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
        height: 300px;
        width: 200px;
    }

    .skills-images img{
        height: 50px;
        margin-bottom: 20px;
    }
}


