* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(25, 25, 167, 0.288);
}

.container {
  background: linear-gradient(to right, #a163f7, #6f88fc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 5px 5px 50px rgb(14, 139, 52);
  backdrop-filter: blur(20px);
}

.container::after {
  content: "";
}

.container span {
  color: white;
  margin-bottom: 10px;
}

.container .button span {
  color: black;
  margin-bottom: 10px;
}

h2 {
  margin: 10px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

hr {
  height: 1px;
  width: 70%;
  background-color: white;
  margin-bottom: 10px;
}

.container input {
  border-radius: 20px;
  padding: 5px;
}

input[type="number"] {
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="number"]:focus {
  border: 3px solid #45e3ff;
}

.button {
  margin: 20px;
  padding: 7px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #a163f7;
}

.button:hover {
  cursor: pointer;
  background-color: #45e3ff;
  color: black;
  border: 1px solid black;
  box-shadow: none;
}

.container span {
  margin-top: 10px;
}

.number {
  color: white;
}

.input {
  margin-left: 90px;
}

.select {
  border-radius: 5px;
}
